---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <div class="flex flex-col text-center relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="py-12">
      <section class="text-center pb-10 md:pb-16 max-w-screen-lg mx-auto py-12">
        <h1
          class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-6 font-heading dark:text-gray-200"
        >
          About Us
        </h1>
        <p class="text-xl text-slate-600 dark:text-white block mb-4">
          At XYZ Firestop Solutions, we are dedicated to providing superior firestopping consultation and products to
          businesses and individuals in the Greater Toronto Area. With years of experience in the industry, our team of
          experts offers a comprehensive approach to fire safety that includes consultation, and procurement of
          firestopping materials for your systems.
        </p>
        <p class="text-xl text-slate-600 dark:text-white block mb-4">
          We understand that fire safety is crucial for the protection of people and property, and that's why we take
          our responsibility seriously. Our team works closely with architects, contractors, and facility managers to
          ensure that every project we undertake meets or exceeds the fire safety standards set by the relevant
          authorities. Our goal is to provide our clients with peace of mind, knowing that their buildings are protected
          from the devastating effects of fire.
        </p>
        <p class="text-xl text-slate-600 dark:text-white block mb-4">
          At XYZ Firestop Solutions, we are committed to staying up-to-date with the latest technology and products in
          the industry. We work with leading manufacturers to ensure that our clients receive the best possible
          solutions for their needs. Whether it's a commercial building, healthcare facility, or educational
          institution, we provide customized firestopping solutions that are tailored to meet the unique needs of each
          client. With a strong focus on quality, professionalism, and customer service, we are proud to be a trusted
          partner for fire safety in the Greater Toronto Area.
        </p>
      </section>
      <!-- <section id="contact">
        <h1
          class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-6 font-heading dark:text-gray-200"
        >
          Contact Us
        </h1>
        <p class="text-slate-600 dark:text-white">contact us!</p>
      </section> -->
    </div>
    <!-- <h2 class=""></h2> -->
  </div>
</Layout>
