---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <div class="flex flex-col text-center relative max-w-7xl mx-auto px-4 sm:px-6">
    <div class="py-12">
      <div class="text-center pb-10 md:pb-16 max-w-screen-lg mx-auto py-12">
        <h1
          class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-6 font-heading dark:text-gray-200"
        >
          Firestop Instructional Training
        </h1>
        <p class="text-xl text-slate-600 dark:text-white block mb-1">
          STI Firestop offers a training course called "Firestop Installation Training" (FIT) which is designed to
          provide education and hands-on training in the proper installation of firestop systems. The FIT course is
          intended for contractors, installers, inspectors, and other professionals involved in the design,
          construction, and maintenance of fire-rated building systems.
        </p>
      </div>
      <div class="text-center pb-10 md:pb-16 max-w-screen-lg mx-auto py-12">
        <h2
          class="text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-6 font-heading dark:text-gray-200"
        >
          Firestop 101
        </h2>
        <p class="text-xl text-slate-600 dark:text-white block mb-1">
          The learner will understand the basic principles of how passive fire protection factors into the overall life
          safety and code compliance of buildings and why firestopping is used today. They will learn how to read the UL
          directory and locate appropriate tested systems for the application type. They will also gain an understanding
          on how to identify where firestopping should be used and if an alternate solution may be necessary as well as
          how to properly install the correct firestop product. (AIA 2 LUs|HSW; BICSI 2 CECs).
        </p>
      </div>
      <div class="text-center pb-10 md:pb-16 max-w-screen-lg mx-auto py-12">
        <h2
          class="text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-6 font-heading dark:text-gray-200"
        >
          FIT Level 1
        </h2>
        <p class="text-xl text-slate-600 dark:text-white block mb-1">
          Firestop systems are highly dependent on proper design and installation for success in an actual fire. They
          are the only code required life-safety items installed by every trade. The importance of proper training
          cannot be understated to ensure that firestopping systems are installed correctly in the field. This
          comprehensive course is designed to educate and train participants in the fundamentals needed to become
          proficient in the selection and proper installation of firestop systems. This course is excellent for
          designers, contractor installers, code compliance officers, maintenance managers, life-safety officers, loss
          reduction specialists and all other interested parties seeking a better understanding of the importance of
          proper firestopping.
        </p>
      </div>
      <div class="text-center pb-10 md:pb-16 max-w-screen-lg mx-auto py-12">
        <h2
          class="text-4xl md:text-4xl font-bold leading-tighter tracking-tighter mb-6 font-heading dark:text-gray-200"
        >
          FIT Level 2
        </h2>
        <p class="text-xl text-slate-600 dark:text-white block mb-1">
          Firestop systems are highly dependent on proper design and installation for success in an actual fire. They
          are the only code required life-safety items installed by every trade. The importance of proper training
          cannot be understated to ensure that firestopping systems are installed correctly in the field. This
          comprehensive course is designed to educate and train participants in the fundamentals needed to become
          proficient in the selection and proper installation of firestop systems. This course is excellent for
          designers, contractor installers, code compliance officers, maintenance managers, life-safety officers, loss
          reduction specialists and all other interested parties seeking a better understanding of the importance of
          proper firestopping.
        </p>
      </div>
    </div>
    <!-- <h2 class=""></h2> -->
  </div>
</Layout>
