---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import LatestPosts from '~/components/blog/LatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Shop now', href: 'https://ehp.ca/search?q=firestop', icon: 'tabler:arrow-down-right' }}
    callToAction2={{ text: 'Learn more', href: '#features' }}
    image={{ src: import('~/assets/images/hero.png'), alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Your <span class="lg:inline">one-stop-shop <br class="2xl:hidden" /> for</span>
      <span class="text-accent highlight"> firestopping</span> needs in the Greater Toronto Area
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Our Commitment:</span> We offer a wide range of products from leading manufacturers to
        ensure that your property is always up to code and protected against fire hazards.
      </span>
      <span class="block mb-1 sm:hidden font-bold text-blue-600">GTA Firestop: Production-ready.</span> Our company specializes
      in providing high-quality firestop products and services to ensure the safety and protection of your commercial, industrial,
      or residential property.
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    highlight="Types of Products"
    title="What we offer to help you"
    subtitle="Firestop products are designed to prevent the spread of fire, smoke, and toxic gases through openings and gaps in walls, floors, and ceilings. There are several types of firestop products available in the market, including:"
    items={[
      [
        {
          title: 'Firestop sealants',
          description:
            'These are fire-resistant materials that are applied to joints, gaps, and penetrations in walls, floors, and ceilings to prevent the spread of fire and smoke.',
          icon: 'tabler:brand-tailwind',
        },
        {
          title: 'Firestop putties',
          description:
            'This type of product is used to fill gaps around cables, pipes, and other penetrations, providing a fire-resistant barrier',
          icon: 'tabler:components',
        },
        {
          title: 'Firestop pillows',
          description:
            'These are used to block openings in walls, floors, and ceilings, and are particularly effective in larger openings.',
          icon: 'tabler:list-check',
        },
        {
          title: 'Firestop boards',
          description:
            'These are rigid, fire-resistant boards that can be cut to size and installed around openings in walls, floors, and ceilings.',
          icon: 'tabler:bulb',
        },
      ],
      [
        {
          title: 'Firestop collars',
          description: 'These products are installed around pipes and ducts, creating a fire-resistant seal.',
          icon: 'tabler:rocket',
        },
        {
          title: 'Firestop mortar',
          description:
            'This is a cement-like material that is used to fill large gaps in walls and floors to prevent the spread of fire.',
          icon: 'tabler:arrows-right-left',
        },
        {
          title: 'Firestop wrap',
          description:
            'This is a flexible, fire-resistant material that is used to wrap around cables, pipes, and other penetrations to create a seal.',
          icon: 'tabler:bulb',
        },
      ],
    ]}
  />

  <!-- Content Widget **************** -->
  <!-- 
  <Content
    highlight="Inside template"
    title="And what's inside? ..."
    items={[
      {
        title: 'Per ei quaeque sensibus',
        description:
          'Ex usu illum iudico molestie. Pro ne agam facete mediocritatem, ridens labore facete mea ei. Pro id apeirian dignissim.',
      },
      {
        title: 'Cu imperdiet posidonium sed',
        description:
          'Amet utinam aliquando ut mea, malis admodum ocurreret nec et, elit tibique cu nec. Nec ex maluisset inciderint, ex quis.',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
        description:
          'At sed possim oporteat probatus, justo graece ne nec, minim commodo legimus ut vix. Ut eos iudico quando soleat, nam modus.',
      },
    ]}
    image={{
      src: import('~/assets/images/caos.jpg'),
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Ad vix debet docendi</h3>
      Ne dicta praesent ocurreret has, diam theophrastus at pro. Eos etiam regione ut, persius eripuit quo id. Sit te euismod
      tacimates.
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
      {
        title: 'Per ei quaeque sensibus',
      },
      {
        title: 'Cu imperdiet posidonium sed',
      },
      {
        title: 'Nulla omittam sadipscing mel ne',
      },
    ]}
    image={{
      src: import('~/assets/images/vintage.jpg'),
      alt: 'Vintage Image',
    }}
  /> -->

  <!-- Steps Widget ****************** -->
  <!-- 
  <Steps
    title="Get your dream website up and running in no time with AstroWind."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula.',
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</em>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla.',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mirisus tempus nulla, sed porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt vehicula. Fusce sit amet dui tellus.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: import('~/assets/images/creativity.jpg'),
      alt: 'Steps image',
    }}
  /> -->

  <!-- Features2 Widget ************** -->

  <Features2
    title="Common products"
    subtitle="These products are some of the most commonly used products for firestopping."
    highlight="What the pros are using"
    items={[
      {
        title: 'Headers',
        description:
          'In general, Headers contain information that makes it easier for visitors to interact with the website.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          'If you want your website to get more than its fair share of visitors, the Hero section needs to be stellar.',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Display your product in action and how the Features actually create a solution for your target customer.',
        icon: 'flat-color-icons:todo-list',
      },
      {
        title: 'Content',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description:
          'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.',
        icon: 'icon-park:page-template',
      },
    ]}
  />

  <!-- HighlightedPosts Widget ******* -->

  <!-- <LatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
			Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
			Astro is a very interesting technology. Thanks.
		`}
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  /> -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Didn't find what you're looking for? Contact us to get your questions answered by our experts."
    highlight="FAQs"
    items={[
      [
        {
          question: 'What is firestopping?',
          answer:
            'Firestopping is the process of sealing openings and penetrations in walls, floors, and ceilings to prevent the spread of fire, smoke, and toxic gases.',
        },
        {
          question: 'What are firestopping products?',
          answer:
            'Firestopping products are materials and devices designed to prevent the spread of fire and smoke through openings and gaps in walls, floors, and ceilings. Examples of firestopping products include firestop sealants, putties, pillows, collars, mortar, wrap, and boards.',
        },
        {
          question: 'What is the fire rating of firestopping products?',
          answer:
            'Firestopping products have a fire rating that indicates their ability to withstand fire for a certain amount of time. The fire rating is usually expressed in terms of hours, such as 1 hour, 2 hours, or 3 hours.',
        },
      ],
      [
        {
          question: 'Can firestopping products be installed in existing buildings?',
          answer:
            'Yes, firestopping products can be installed in existing buildings to upgrade their fire resistance. This is often required when buildings undergo renovations or when new fire codes are implemented.',
        },
        {
          question: 'Who should install firestopping products?',
          answer:
            'Firestopping products should be installed by trained and certified professionals who have experience with firestopping and understand the requirements of local fire codes.',
        },
        {
          question: 'How often should firestopping be inspected?',
          answer:
            'Firestopping should be inspected regularly to ensure that it remains intact and effective. The frequency of inspections depends on the specific building and its occupancy, but it is typically recommended that firestopping be inspected at least once a year.',
        },
      ],
    ]}
  />

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    items={[
      { name: 'Downloads', value: '132K' },
      { name: 'Stars', value: '24.8K' },
      { name: 'Forks', value: '10.3K' },
      { name: 'Users', value: '48.4K' },
    ]}
  /> -->

  <!-- CallToAction Widget *********** -->

  <CallToAction
    callToAction={{
      text: 'Shop now',
      href: 'https://ehp.ca/search?q=firestop',
      icon: 'tabler:arrow-down-right',
    }}
  >
    <Fragment slot="title">
      Shop at Edward H. Pope <br class="block sm:hidden" /><span class="sm:whitespace-nowrap"></span>
    </Fragment>

    <Fragment slot="subtitle">
      Looking to purchase firestopping products in the Greater Toronto Area? <br class="hidden md:inline" />
    </Fragment>
  </CallToAction>
</Layout>
