---
import { Icon } from 'astro-icon';
---

<span
  class="self-center ml-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white flex items-center gap-1"
>
  <Icon name="mdi:fire-off" class="w-5 h-6 dark:text-white text-red-600" />
  <p><span class="text-red-600">GTA</span> Firestop</p></span
>
